*{
    color: #21243D;
}
.footer__icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 1rem;
}
.footer__icons i {
    font-size: 1.6rem;
}
p{
    text-align: center;
    margin-bottom: 2rem;
}